html {
    font-size: 18px;
    line-height: 1.4;
    font-family: helvetica
}
.container {
    max-width: 960px;
    margin: auto;
}
header {
    background: url(resources/glasses-bg.png) no-repeat center;
    background-size: cover;
    height: 30rem;
    padding-top: 1rem;
}
nav {
    background-color: cadetblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.logo-white {
    display: flex;
    align-items: center;
    padding: 0 auto 0 0;
}
.logo-white img {
    height: 1.5rem;
    margin: 0 1rem 0rem 2rem;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav span {
    padding: 1rem 2rem;
    width: auto;
}
.short-nav span {
    display: inline-block;
    padding: 2px 1rem;
}
.main-banner {
    display: flex;
    padding-top: 10rem;
    padding-right: 2rem;
    justify-content: flex-end;
    width: 996px;
    align-items: center;
    padding-left: 25%;
}
.banner-box {
    background-color: white;
    align-items: center;
    width: auto;
    height: 5rem;
    display: flex;
}
.banner-box h1 {
    padding: 1.5rem 5rem;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.4;
}
.info-icon {
    display: flex;
    justify-content: center;
    margin: 3em 0;
}
.icon {
    margin: 0 3em;
    width: auto;
}
.paper-icon {
    display: flex;
    justify-content: center;
    height: 5em;
    width: 3.5em;
    margin-left: 1.9rem;
}
.paper-icon img {
    width: 100%;
    height: 100%;
}
.ruler-icon {
    display: flex;
    height: 5em;
    width: 5em;
    justify-content: center;
    align-items: flex-start;
}
.ruler-icon img {
    width: 100%;
}
.truck-icon {
    display: flex;
    padding: 0;
    height: 5rem;
    width: 5rem;
    justify-content: center;
    align-items: flex-start;
}
.truck-icon img {
    width: 100%;
}
.icon-name {
    text-align: center;
    margin-top: 1em;
    width: 5em;
    height: 2em;
}
.info-box {
    display: inline-flex;
    justify-content: center;
}
.info {
    width: 35%;
    margin: 0 2.5%;
}
.title {
    display: block;
    background-color: cadetblue;
    text-align: left;
    padding: 0.5rem 1.25rem;
    font-weight: bold;
    color: white;
    width: 10rem;
    margin-bottom: 1rem;
}
p {
    margin-bottom: 5rem;
}
footer {
    display: flex;
    background-color: azure;
    padding: 4rem;
    align-items: center;
}
footer img {
    margin-right: 1rem;
    height: 1.5rem;
}

/*phone size*/

@media only screen and (max-width:480px) {
    .container {}
    header {
        height: 17rem;
        background-position: 20%;
        background-size: cover;
        padding: 0;
    }
    nav .logo-white img {
        margin: 0 .5rem;
        height: 1rem;
    }
    nav .short-nav span {
        display: inline-block;
        font-size: 1rem;
        padding-right: 2rem;
    }
    .nav span {
        display: none;
    }
    .logo-white span {
        display: none;
    }
    header .main-banner {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .banner-box {
        background-color: white;
        margin-top: 9rem;
        height: 1rem;
        width: 100%;
        align-items: center;
        align-content: center;
        padding: 1rem 0;
    }
    .banner-box h1 {
        font-weight: bold;
        line-height: 1;
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }
    .info-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3.77em 0;
    }
    .icon {
        margin: 0 auto;
        width: auto;
    }
    .paper-icon {
        display: flex;
        justify-content: center;
        height: 5em;
        width: 3.5em;
        margin-left: .7rem;
    }
    .paper-icon img {
        width: 100%;
        height: 100%;
    }
    .ruler-icon {
        display: flex;
        height: 3em;
        width: 5em;
        justify-content: center;
        align-items: flex-start;
        margin-top: 1.54rem;
    }
    .ruler-icon img {
        width: 100%;
    }
    .truck-icon {
        display: flex;
        padding: 0;
        height: 3rem;
        width: 5rem;
        justify-content: center;
        align-items: flex-start;
        margin-top: 1.54rem;
    }
    .truck-icon img {
        width: 100%;
    }
    .icon-name {
        text-align: center;
        width: 5rem;
        font-size: 0.77rem;
    }
    .info-box {
        display: block;
        justify-content: center;
    }
    .info {
        width: 100%;
        margin: 0;
    }
    .title {
        display: block;
        background-color: cadetblue;
        text-align: center;
        padding: 0.5rem 1rem;
        font-weight: bold;
        color: white;
        width: 100%;
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 4rem;
        font-size: 0.77rem;
        padding: 0 .75rem;
    }
    footer span {
        display: none;
    }
    footer img {
        margin: 0 45%;
    }
}

/* menu nav*/

@media only screen and (min-width: 480px) {
    .short-nav span {
        display: none;
    }
}

/*tablet size*/

@media only screen and (min-width: 490px) and (max-width:1024px) {
    .container {
        width: auto;
        margin: auto;
    }
    nav {
        height: 1.5rem;
        width: 100%;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
    }
    .logo-white {
        align-items: center;
        padding: 0 6rem 0 0;
        width: auto;
    }
    .logo-white img {
        margin: 0;
        height: 1rem;
    }
    .logo-white span {
        font-size: 1rem;
        padding: 0 5rem 0 1rem;
        width: auto;
    }
    .nav {
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        width: auto;
    }
    .nav span {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
    header {
        height: 22rem;
        padding: 0;
        margin: 0;
        white-space: 1024px;
        background-image: url(resources/glasses-bg.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    .main-banner {
        display: flex;
        height: 19.5rem;
        padding: 0;
        width: auto;
    }
    .banner-box {
        background-color: white;
        height: 3rem;
        margin-top: -5rem;
        margin-right: 2rem;
    }
    .banner-box h1 {
        padding: 0.75rem 4rem;
        font-weight: bold;
        font-size: 1.33rem;
        line-height: 1.2;
        text-align: center;
    }
}
